.body {
    font-family: Arial, Helvetica, sans-serif;
}

.container-all {
    width: 60%;
    margin: auto;
    background-color: #b8cece;
    margin-top: 70px;
    padding: 60px;
    border: 1px solid black;
    border-radius: 4px;
}

.container-all h2 {
    text-align: center;
}

.dates {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    text-align: end;
}

.btn-reg {
    align-content: center;
    text-align: center;
}

.btn-registrarse {
    width: 40%;
    font-size: larger;
    margin: 30px 0px;
    border-radius: 4px;
    border: 2px solid #3b7483;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-registrarse:hover {
    background-color: #3e737c;
    /* Green */
    color: white;
}

.continuar {
    text-align: center;
    font-size: x-large;
}

.continue-with {
    margin: 30px 0px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.btn-fb {
    width: 40%;
    border: 1px solid blue;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-fb:hover {
    background-color: blue;
    color: white;
}

.btn-google {
    width: 40%;
    border: 1px solid red;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.btn-google:hover {
    background-color: red;
    color: white;
}

.btn-text {
    font-size: medium;
    margin-top: 10px;
}